{% extends 'mainapp/base.html' %}
{% block body_block %}
<center><h1>Instruction</h1></center>
<ul>
  <li>The Time Limit for this contest is 1 hours.</li>
  <li>Every Question has 2 parts, first one is to decipher the code, and the second is about it's technical part.</li>
  <li>You may ask for a paper and a pen for doing rough calculations, but use of any other electronic gadget (eg, Mobile Phones)
	 is strictly prohibited.</li>
  <li>You can use any programming language to write codes (if required).</li>
  <li>Taking help from the Internet is strictly not allowed.</li>
  <li>Anyone found indulging in any inappropriate activity will be disqualified.</li>
  <strong><li>The Answer to every question will be textual<strong>(only in lowercase)</strong> or may contain numbers, it will not contain any spaces
	 or special characters.</li></strong>
  <li>Make sure your laptop is connected to charging.</li>
</ul>

{% endblock %}
