<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Ciphertech</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
  </head>
  <link rel="stylesheet" href="{% static "css/signuppage.css" %}">
  <body style="background:url({% static 'images/final2.jpg' %})">
  <center><h1 class="titlename" style="font-size:6.5rem">CIPHERTECH</h1></center>
    <div class="container content_page">
      <center><h2>Registration</h2></center>
        <div class="form-group">
          <form method="POST">
            {% csrf_token %}
            {{ TeamForm.as_p }}
            {{ TeamDetail.as_p }}
            <p><input type="checkbox" required>I agree to the <a href="{%url 'terms' %}" target="blank">Terms of use and privacy</a></p>
            <input type="Submit" class="btn btn-primary" value="SignUp" style="margin-left:40%">
            <a href="{% url 'mainapp:instruction' %}">Already registered!</a>
            <ul>
              {% if error1 %}
                <li>{{ error1 }}</li>
              {% endif %}
              {% if error2 %}
                <li>{{ error2 }}</li>
              {% endif %}
            </ul>
          </form>
        </div>
    </div>
  </center>
  <script src="{% static "js/registration.js" %}"></script>
  </body>
</html>
