{% extends "mainapp/questions/basic.html" %}
{% load staticfiles %}
{% block body_block %}
  <div class="container" style="margin-top:4%">
      <center><h1>Question 5</h1></center>
      {% if not part1complete %}
      <h2>Task 1</h2>
      <p>what kind of cheese is made backwards?</p>
      {% else %}
      <h2>Task 2</h2>
      <p>Write the name of any directory which can't be created but can be destroyed.</p>
      {% endif %}
      <form class="form-group"  method="post">
        {% csrf_token %}
        <label for="answer"></label>
        {% if not disabling %}
        <input type="text" id="answer" name='answer' placeholder="Type your Answer here!!" value="{{ boxvalue }}">
        <input type="Submit" class="btn btn-primary" value="Submit" >
        {% else %}
        <input type="text" id="answer" name='answer' disabled placeholder="Type your Answer here!!">
        <input type="Submit" class="btn btn-primary" value="Submit" disabled>
        {% endif %}
        <h2>{{ result }}</h2>
      </form>
  </div>
{% endblock %}
